.Messages {
    display: flex;
    flex: 1 1 auto;
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    flex-direction: column;
}

.Messages a {
    text-decoration: none;
    color: white;
}

.mainItem {
    display: flex;
    flex: 0 0 25px;
}


