.NavBar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 500;
}

.item {
    margin-bottom: 20px;
    padding: 5px 15px;
    
}

.item a {
    text-decoration: none;
    color: white;
}

.item:hover {
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: var(--hover-button-color);
}

.item:hover a {

    color: var(--hover-text-color);
}



