.NewPost {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
}

.textarea {
    display: flex;
    flex: 9 9 65px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.textarea textarea {
    outline: none;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 1.25rem;
    background-color: var(--input-main-color);
    color: white;
    border: 0;
    border: 1px solid var(--input-main-color);
}

.textarea textarea:focus {
    border: 1px solid var(--input-border-focus-color);
}

.button {
    margin-top: 5px;
    display: flex;
    flex: 1 1 10px;
    align-self: flex-end;
}

.button button {
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 1.25rem;
    background-color: var(--button-bckg-color);
    color: white;
    border: none;
    outline: none;
    border: 1px solid var(--button-bckg-color);
}

.button button:hover {
    cursor: pointer;
    background-color: var(--hover-button-bckg-color);
}

.button button:focus {
    cursor: pointer;
    border: 1px solid white;
    -webkit-transition: .4s ease-out;

}