@import './assets/styles/root.css';

html::-webkit-scrollbar {
  display: none;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--main-color);
  color: #ffffff;
}

.App {
  display: flex;
  width: 999px;
  margin: 0 auto;
  min-height: 100vh;
}